<?xml version="1.0"?>
<!--
Copyright (c) 2017, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <!-- Odometry coordinate frame -->
    <arg name="odometry_frame"        default="map" />
  <arg name="svo_file" default=""/>
  <arg name="zed_id" default="0"/>
  <arg name="resolution" default="3"/>
  <arg name="frame_rate" default="30"/>
  <arg name="always_track" default="false"/>
  <arg name="confidence" default="80"/>

  <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find miner)/config/rosconsole.config"/> -->
    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <!-- compliant mode for rviz -->
            <arg name="odometry_frame"        value="$(arg odometry_frame)" />
            <arg name="resolution" value="$(arg resolution)" />
            <arg name="frame_rate" value="$(arg frame_rate)" />
            <arg name="always_track" value="$(arg always_track)" />
            <arg name="svo_file" value="$(arg svo_file)" />
            <arg name="zed_id" value="$(arg zed_id)" />
            <arg name="always_track" value="$(arg always_track)" />
        </include>
    </group>

</launch>
